<video id="video" autoplay="autoplay" loop>
  <source src="/videos/30sec.webm" type="video/webm">
</video>

<div id='default-index-bg'>
</div>

<div class="large-3 large-centered columns medium-5 medium-centered columns small-8 small-centered columns">
  <div class="login-box">
    <div class="row">
      <div class="large-12 columns">
        <center>
        <h4>Reset Password</h4>
        </center>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: :email %>
          </div>

          <div class="actions">
            <%= f.submit "Email reset instructions", class: "button expand" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%# render "devise/shared/links" %>

