<% @hobbies.each do |hobby| %>
   <li>
      <a href="/hobbies/<%= hobby.id %>">
      <div class="emboss">
      <img class="th" src="<%= hobby.image_url %>">
       <div class="panel">
          <h5><%= hobby.name %></h5>
       </div>
      </div>
    </a>
  </li>
<% end %>

<li>
  <a href="#">
    <img src="http://www.veryicon.com/icon/png/System/Icons8%20Metro%20Style/Very%20Basic%20Plus.png" class="add_hobby_button" id="plus-image" data-reveal-id="new-hobby-modal">
  </a>
</li>