<div class="row">
  <div class="large-9 columns">

    <h3>The Devs</h3>

    <div class="section-container tabs" data-section>

      <section class="section text-center">
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <li><a href="https://github.com/tani8"><img src="https://avatars3.githubusercontent.com/u/6091212?v=3&s=400">Taniya Prabhakar</a> <br> Team Lead </li>
            <li><a href="https://github.com/keithconroy"><img src="https://avatars0.githubusercontent.com/u/10202665?v=3&s=400">Keith Conroy</a></li>
            <li><a href="https://github.com/dhanesana"><img src="https://avatars1.githubusercontent.com/u/8661746?v=3&s=400">David Hanesana</a></li>
            <li><a href="https://github.com/heycait"><img src="https://avatars0.githubusercontent.com/u/7475663?v=3&s=400">Caitlyn Yu</a></li>

          </ul>
        </div>
      </section>
    </div>
  </div>








