@font-face {
    font-family: Geoma;
    src: url('geoma_thin.otf');
}

h1, h3{
    font-family: Geoma, 'Syncopate';
    font-weight: bold;
    /*color: #38C898;*/
    /*font-family: 'Syncopate', sans-serif; }*/
}

h3, h6{
    text-align: center;
}
/*.fb-login{
    padding-left: 7%;
}*/

body {
    font-family: 'Droid Sans', sans-serif;
    background-image: url("fabric_of_squares_gray.png");
    background-size: 100%, 100%;
}

#nav-pic {
    height: 35px;
    margin-top: 5px;
}

#questions {
    width: 50%;
    margin: auto;
}

.question_body {
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
}

.add_answer_button {
    float: right;
}

.tile {
    margin: 2%;
    width: 130px;
    height: 130px;
    position: relative;
    font-size: .8em;
    float: left;
    border-radius: 30px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

/*homepage login*/
@import "compass/css3";

body {
  background: #F0F0F3;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.tile .front {
  background-color: yellow;

    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.tile.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.tile .back {
  background-color: red;

    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border-radius: inherit;

    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.tile.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

video#video {
    position: fixed;
    z-index: -1;
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
