@font-face {
    font-family: Geoma;
    src: url('geoma_thin.otf');
}
/*nave bar coloring */
.contain-to-grid,
.top-bar,
.title-area,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .dropdown li:not(.has-form) a:not(.button),
.top-bar-section .has-dropdown {
  background: #38C898 !important;
}

h1, h2, h3 {
    font-family: Geoma, 'Syncopate';
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(19, 71, 54, 0.45);
}

h2 {
    text-shadow: 2px 2px 2px rgba(19, 71, 54, 0.45);
}

h3, h6{
    text-align: center;
}

body {
    font-family: 'Droid Sans', sans-serif;
    background-image: url("fabric_of_squares_gray.png");
    background-size: 100%, 100%;
}

.button{
    background-color: #38C898;
}

.button:hover{
     background-color: #299470;
}

#nav-pic {
    height: 35px;
    margin-top: 5px;
    padding-right: 8px;
}

#questions {
    width: 50%;
    margin: auto;
}

.question_body {
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
}

.add_answer_button {
    float: right;
}

/*homepage login*/

body {
  background: #F0F0F3;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  padding: 20px 20px 20px 20px;
}

video#video {
    position: fixed;
    z-index: -1;
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.slider{
    float: top right;
    max-height: 150px;
    max-width: 800px;
}

.slider .panel {
    height: 20px;
}

.slider div{
    height: 100%;
    width: 100%;
    text-align: center;
}

.slider div img {
    border: solid white;
    text-align: center;
    height: 150px;
    width: 100%;
}

.category-name {
    text-align: center;
}

h3 {
    text-align: center;
    position: relative;
}

.slick-prev:before, .slick-next:before {
    color:black !important;
    font-weight: bolder;
}

.slick-initialized {
    margin: auto 40px;
}


.cat-image-div img {
    height: 100%;
    width: 100%;
}

li a img {
    opacity: 1.0;
    transition: opacity 0.25s ease-in-out;
}

li a img:hover {
    opacity: 0.2;
}

li a p {
    opacity: 0;
    transition: 1s;
}

li a:hover p {
    opacity: 0.5;
}

li a {
    position: relative;
    display: inline-block;
}

li a img {
    height: 10em;
    width: 15em;
}

.panel {
    background-color: white;
    text-align: center;
}

#cat-index-header {
    width: 100%;
    height: 10em;
    background-image: url('cat-last.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#plus-image {
    height: 5em;
    width: 5em;
    opacity: 0.2;
    transition: .5s;
    margin-left: 70px;
    margin-top: 50px;
}

li a:hover #plus-image {
    opacity: 1;
}

#add-div {
    background-color: transparent;
    border: none;
}

.profile-image-div {
    min-height: 100px;
    min-width: 100px;
    max-height: 300px;
    max-width: 300px;
}

.prof-image {
    height: 100%;
    width: 100%;
}

.profile-hobbies {
    opacity: 1.0;
    transition: opacity 0.25s ease-in-out;
}

.profile-hobbies:hover {
    opacity: 0.2;
}

.content {
    /*max-height: 500px;*/
    /*overflow-y: scroll;*/
}

.add_answer_button {
    float: left;
}

.answerdiv {
    border-radius: 5px;
    word-wrap: break-word;
}

#question_list {
    word-wrap: break-word;
    overflow-y: scroll;
    height: 400px;
}

footer {
    text-align: center;
}

i {
    font-size: 1.4em;
}

.user-hobby-list {
    list-style-type: none;
    max-height: 500px;
    overflow-y: scroll;
}

.user-hobby-list li {
    text-align: center;
    margin-right: 20px;
}

.radius {
    min-height: 100px;
    min-width: 100px;
    max-width: 300px;
}

.edit-div {
    padding-top: 10px;
}

.category-bannerImg {
    display: block;
    width: 250px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.emboss {
    margin-top: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
}

form#send_message {
  display: none;
}

#chat_messages {
    background-color: white;
    overflow-y: scroll;
    height: 400px;
}

.doNothing {
    margin-bottom: 0px;
    float: left;
    opacity: 0;
}

.usernameDiv {
    margin: 3.5em auto;
}

.usernameDiv h1 {
    text-align: center;
}

#default-index-bg {
     background-image: url('default-homepage-img.jpg');
     background-size: cover;
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     z-index: -2;
     overflow: hidden;
}

.hobby-desDiv {
    width: 80%;
    margin: 0 auto;
}

.hobby-desDiv p {
    text-align: center;
}

.hobby-bannerImg {
    display: block;
    width: 250px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.hobby-imageDiv {
    margin-top: 1em;
}

.buttonDiv {
    text-align: center;
}

.follow {
    display: inline-block;
    margin: 1em auto;
}

.followers {
    display: inline-block;
    margin-left: 1em;
}

.add_question_button {
    display: block;
}

.center {
    text-align: center;
}

.meetupsDiv {
    width: 400px;
    display: inline-block;
    float: right;
    max-height: 300px;
}

.meetup-results {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.youtubeDiv {
    margin: 0 auto;
    display: inline-block;
}

iframe {
    display: block;
    margin: 0 auto;
}

.questionsWrapper {
    width: 95%;
    margin: 0 auto;
}

.sortButtons {
    text-align: center;
}

#recent_sort {
    margin-left: 2em;
}

.searchDiv {
    width: 80%;
}

.mag {
    display: inline;
}

#logo {
    position: relative;
    height: 35px;
    padding-left: 8px;

}

#logo p {
    margin: 0;
    padding-top: -5px;
    margin-bottom: -10px;
}

#logo i {
    font-size: 1em;
    max-height: 48%;
}

#logo.log-in i {
    font-size: 1.5em;
}

#logo.log-in {
    margin-bottom: 1.5em;
    padding-left: 0;
}

.title-area {
    position: absolute;
    height: 100%;
}
.title-area li {
    height: 100%;
    display: inline-block;
}

.name {
    top: -5px;
    position: relative;
}


button {
    background-color: #38C898;
}

li .last {
    height: 60px;

}

.questionsWrapper {
    padding: 2%;
    border: 1px solid #BFBFC1;
    background-color: white;
}