<h1 style="text-align: center">Categories</h1>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<br><br>

<!-- <div id="category_list">
  < % @categories.each do |category| %>
    <div class="category tile hover">
      <div class="front">
        <div class="pad">
          < %= link_to category.name, category %>
        </div>
      </div>
      <div class="back">
        <div class="pad">
          < %= link_to category.name, category %>
        </div>
      </div>
    </div>
  < % end %>
</div>
 -->

<!-- <div class="large-12 columns">
<ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4 grid" data-clearing>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>

  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>

  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
</ul>
</div>
 -->
<!-- <div class="row">
  <div class="large-12 columns">


    <div class="row">
      <div class="large-12 columns">

      </div>
    </div>


    <div class="row">
      <div class="large-10 columns">
        <div class="row">

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/1000x1000&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>
            </div>
          </div>
        </div>


      </div>
    </div>




    <footer class="row">
      <div class="large-12 columns"><hr/>
        <div class="row">

          <div class="large-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>

        </div>
      </div>
    </footer>

  </div>
</div> -->




<div class="row">
  <div class="large-12 columns" id="category_list">
    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4">

      <% @categories.each do |category| %>
         <li>
            <a href="/categories/<%= category.id %>">
            <img src="<%= category.image_url %>">
             <div class="panel">
                <h5><%= category.name %></h5>
             </div>
          </a>

        </li>
      <% end %>

    </ul>
  </div>
</div>


<footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>©2015 Hobbyist</p>
        </div>

      </div>
    </div>
</footer>



