<div class="wrapper">
  <div class="row">
    <div class="large-12 columns">
      <a href='.'>
      <div class="panel emboss th" id='cat-index-header'>
        <div class="cat-ban" style="background-color:rgba(0, 0, 0, 0.05)">
          <h1>Categories</h1>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
<hr>
  <div class="large-12 columns" id="category_list">
    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4">

      <% @categories.each do |category| %>
         <li>
          <a href="/categories/<%= category.id %>">
            <div class='emboss'>
              <img class='th' src="<%= category.image_url %>">
              <div class="panel">
                <h5><%= category.name %></h5>
              </div>
            </div>
          </a>
        </li>
      <% end %>

    </ul>
  </div>
</div>





