<h1><%= @category.name %></h1>
<div id="show_category">
  <% @hobbies.each do |hobby| %>
    <div class="hobby tile hover">
      <div class="front">
        <div class="pad">
          <%= link_to hobby.name, hobby %>
        </div>
      </div>
      <div class="back">
        <div class="pad">
          <%= link_to hobby.name, hobby %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Create New Hobby", new_hobby_path %>